.res-image {
  height: 400px;
}

#hero {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay h1 {
  color: var(--primary-color-2);
  font-size: 3rem;
}

.overlay {
  width: 30%;
  height: 40vh;
  position: relative;
}

#hero h1 {
  position: relative;
  right: 40%;
  color: var(--primary-color-2);
  padding-top: 70px;
}

#hero h2 {
  position: relative;
  right: 40%;
  color: var(--highlights-color);
  margin-top: 10px;
}

#hero p {
  position: relative;
  right: 40%;
  color: var(--highlights-color);
  width: 54%;
  margin-top: 10px;
  font-weight: bold;
}

#hero img {
  position: absolute;
  border-radius: 16px;
  margin-top: 40px;
  top: 0;
  right: 20%;
}

#hero button {
  position: relative;
  padding: 10px 20px;
  background-color: var(--primary-color-2);
  color: var(--primary-color);
  border: none;
  font-weight: bolder;
  border-radius: 12px;
  left: -40%;
  margin-top: 10%;
}
