:root {
  --primary-color: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlights-color: #edefee;
  --highlights-color-2: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edefee;
  font-family: Karla, sans-serif;
}
